@require "vars"

.header
  display flex
  flex-direction column
  @media (min-width $xs)
      flex-direction row
      justify-content space-between

  &-buttons
    display none
    @media (min-width $xs)
      display flex
      flex-direction column
    & > *
      text-transform uppercase

  &-logo
    display flex
    flex-direction column
    & > *
      text-align center
      text-transform uppercase

  &-basket
    display flex
    flex-wrap wrap
    &__cart
      flex-basis 50%
      display flex
      &-icon
        background url(../img/shopping-cart.svg) no-repeat
        width 30px
    &__checkout
      flex-basis 50%
      text-transform uppercase
    &__search
      display none
      @media (min-width $xs)
          display block
          flex-basis 100%
